#banner
	.banner_content
		%h1 NoteNote
		%p Your online notebook. Never forget an idea again.
		
		

#testimonial
	.wrapper
		%p.quote "The greatest notebook application. Period."
		%p.name - NCIT COLLEGE BY RUBY ON RAILS


#callouts
	.callout_inner
		.wrapper
			.callout
				%i.fa.fa-pencil
				%h2 Notes
				%p A note is created for the future reference and memory of any event or topic.
				 


			.callout
				%h2 About Us!
				%p This application is developed for the digilization of record keeping system. This application is developed and designed by four energetic engineering students of Nepal College of Information Technology,NCIT. For detail information please visit our website.
			.callout
				%h2 Portfolio!
				%p Viral Echo Park Intelligentsia tattooed, craft beer organic authentic polaroid tousled mlkshk church-key. Fanny pack Banksy vegan  authentic Helvetica.
#bottom_cta
	.wrapper
		%h1 For All!!!
		%p Sign up! for your convenience!!!
		
%footer
	%p &copy; NCIT COLLEGE BY RUBY ON RAILS
